.news-modal-html-content{
    width:100%;

    .modal-input-group{
        width:100%;
        display:flex;
        margin:5px;

        label{
            display: block;
            width:100px;
        }
    }
}